@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }
html { scroll-behavior: smooth; }
body { margin: 0; background: #ffffff; color: #17212B; }
::selection { background: #123B66; color: white; }
